<!DOCTYPE html>
<style>
	a{text-decoration:none}
</style>
<meta charset="utf-8">
<center>
	<font color='gray' size='4' face='휴먼편지체'>
	<hr width='600' size='2' color='gray' noshade>
	<h3>Django Board</h3>
	<font color='gray' size='4' face='휴먼편지체'>
	<a href='../write'>글쓰기</a>
	</font>
	<hr width='600' size='2' color='gray' noshade>
	</font>
	
	<table border='2' width='600' align='center' noshade>
	<tr>
	<td width='20%' align='center'>No</td>
	<td>{{board.id}}</td>
	</tr>
	<tr>
	<td width='20%' align='center'>Writer</td>
	<td>{{board.b_writer}}</td>
	</tr>
	<tr>
	<td align='center'>E-mail</td>
	<td>{{board.b_email}}</td>
	</tr>
	<tr>
	<td align='center'>Subject</td>
	<td>{{board.b_subject}}</td>
	</tr>
	<tr>
	<td align='center'>Contents</td>
	<td>{{board.b_contents}}</td>
	</tr>	
	<tr>
	<td align='center'>File</td>
	<td>{{board.b_file}}</td>
	</tr>	
	</table>
	
	<hr width='600' size='2' color='gray' noshade>
	<font color='gray' size='4' face='휴먼편지체'>
	<a href='../update/{{board.id}}'>수정</a>
	 &nbsp;&nbsp;| 
	<a href='../delete/{{board.id}}'>삭제</a>
	 &nbsp;&nbsp;| 
	<a href='../list'>목록</a>	
	</font>	
	<hr width='600' size='2' color='gray' noshade>
</center>
