#upload_ok.html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Upload OK</title>
    <style>
        a { text-decoration:none }
    </style>
</head>
<body>
<center>
    <h1>업로드 완료</h1>
    <hr width='600'>
    <table border='1' width='600'>
        <tr><td width='120'>제목</td><td>{{ board.b_subject }}</td></tr>
        <tr><td>원본 파일명</td><td>{{ board.b_orgfile }}</td></tr>
        <tr><td>저장된 경로</td><td>{{ board.b_file.name }}</td></tr>
        <tr><td>크기</td><td>{{ board.b_filesize }} bytes</td></tr>
        <tr><td>등록일</td><td>{{ board.b_date }}</td></tr>
        <tr><td>링크</td><td><a href='{{ board.b_file.url }}' target='_blank'>{{ board.b_file.url }}</a></td></tr>
    </table>
    <br/>
    <a href='../'>다시 업로드</a> &nbsp;&nbsp;&nbsp; <a href='../../update/{{ board.id }}'>업로드 종료</a>
</center>
</body>
</html>